/* الحاوية الجديدة */
.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* لتوسيط الحقل مع الليبل في الكارد */
  width: 100%;
  margin-bottom: 20px;
}

/* تنسيق الليبل ليكون فوق الحقل تماماً */
.custom-label {
  align-self: flex-start; /* يبدأ من أقصى اليسار بالنسبة للحاوية */
  width: 80%; /* ليتناسب مع عرض الحقل */
  margin: 0 auto 10px auto; /* توسيط الحاوية ومسافة تحت */
  font-size: 0.60rem;
  color: #555d4d;
  font-weight: 500;
  padding-left: 15px;
  text-align: left;
}

/* حافظي على الـ input-group كما هو عندك للظل الداخلي */
.input-group {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* الأيقونة بوضعية Absolute داخل الـ group */
.input-icon {
  position: absolute;
  left: 55px; /* اضبطيها لتكون داخل الظل */
   color: #D8D9DB;
  z-index: 15;
}

/* حقل الإدخال بتنسيق النيومورفيزم الخاص بك */
.neo-input {
  width: 80%;
  padding: 12px 12px 12px 45px; /* مسافة لليسار للأيقونة */
  border-radius: 30px;
  border: none;
  background: #ffffff;
  box-shadow: inset -2px -2px 8px #e0e0e0, inset 2px 2px 8px #ffffff;
  outline: none;
}
.neo-input::placeholder{
  color: #D8D9DB;
  font-size: 0.5rem;
  font-weight: 500;
 
}