/* هذا يضمن أن العنصر الذي يحمل class="form-container" */
/* يمتد فعلياً على كامل الشاشة دون استثناء */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  width: 100vw;
}
@font-face {
  font-family:'Host Grotesk' ;
  src: url('/src/assets/fonts/HostGrotesk-Regular.ttf') format('truetype');
}
* {
  font-family: 'Host Grotesk', sans-serif;
}

p{
    color: #121212;
    font-size: 0.70rem;
    font-weight: 600;
    margin: 20px 0 15px;
}

