.sidebar-neo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

}

.menu-label {
  font-size: 1.5rem;
  color: #555d4d;
  margin-bottom: 15px;
  font-weight: 600;
  padding-left: 10px;
  padding-bottom: 30px;
  
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin-bottom: 4px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #555d4d;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 20px;
}

.menu-item:hover {
  background: #f4f3f3;
}

.menu-item.active {
  background: #e8e8e8;
  font-weight: 700;
  color: #555d4d;
}

.icon {
  margin-right: 15px;
  margin-left: 15px;
}
.sign-out-container {
  flex: 1;
  overflow: auto;
  padding-top: 40px;
}




